/* Основные стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: #111;
}

.background {
    background-image: url('../images/tetx.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.logoText {
    display: grid;
    grid-template-columns: 150px 500px;
    
}


.content {
    text-align: center;
    padding: px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

.header .contacts a {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.header .contacts a:hover {
    text-decoration: underline;
}

.about-me h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 100px;
    justify-self: center;
} 

.about-me p {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 15px 0;
}

.contact-button {
    background: #00bcd4;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.contact-button:hover {
    background: #0097a7;
}

.portfolio {
    margin-top: 20px;
}

.portfolio h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.view-works-button {
    background: #00bcd4;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.view-works-button:hover {
    background: #0097a7;
}

.modal {
    display: none; /* Это гарантирует, что окно будет скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 1200px; /* Увеличим максимальную ширину */
    max-height: 90%;
    overflow: auto;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Меньше колонок, больше картинок в каждой */
    gap: 5px; /* Меньше расстояния между изображениями */
    justify-items: center;
}

.modal-gallery img {
    width: 100%;
    height: auto;
    max-height: 269.250px; /* Увеличим максимальную высоту */
    border-radius: 10px;
}

.modal-gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}



.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4em;
    color: #ff0000;
    cursor: pointer;
}

.close:hover {
    color: #00bcd4;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
    font-size: 1em;
    position: relative;
    bottom: 0;
}

.footer p {
    margin: 0;
}